:root {
  --padding-y: 5px 0;
  --padding-x: 0 5px;
  --text-color: rgb(40, 40, 40);
  --accent-color: rgb(181, 9, 56);
}

main {
  padding: var(--padding-x);
}

h1 {
  background-color: var(--accent-color);
  color: white;
  margin: 0;
  padding: var(--padding-y);
  font-weight: 200;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  padding: var(--padding-y);
}

ul li a {
  color: var(--text-color);
  text-decoration-color: var(--accent-color);
}

.button-cta {
  margin: 10px;
}

.artwork-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork-wrapper-img {
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
  max-width: 450px;
}

.artwork-wrapper-img img {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
}

.artwork-wrapper-description {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}
